# Ignore node_modules and vendor
**/node_modules
**/vendor

# Ignore build artifacts
**/dist
**/build

# Ignore git
.git

# Ignore logs and temp files
**/*.log
.env
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Ignore OS files
.DS_Store
Thumbs.db
