# Laravel
backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
.env.local
.env.docker
backend/.env.local
backend/.env.docker

# React
frontend/node_modules/
frontend/dist/

# Docker
.env

# OS
.DS_Store
Thumbs.db
